#content {
  max-width: 1600px;
  margin: auto;
  padding: 0 2rem;
  img {
    max-width: 100%;
  }
}

.post.entry {
  margin-bottom: 4rem;
  display: flex;
  background: #FFF;
}

.post.single {
  .post-thumbnail {
    margin-bottom: 2rem;
  }
  .entry-title, .entry-content, .entry-footer {
    max-width: 950px;
    margin: auto;
  }
  .entry-title {
    text-align: center;
    margin: 2rem auto 4rem auto;
  }
  .entry-footer {
    margin-top: 2rem;
  }
}

.post-thumbnail {
  margin: 0;
  flex: 1;
}
.post-details {
  flex: 1;
  align-self: center;
}
.post-details-inner {
  padding: 2rem 4rem;
}