{{ define "main" }}
<article class="post single">
  <header class="entry-header">
    <h1 class="entry-title">{{ .Title }}</h1>
  </header>

  {{ if .Params.image }}
  <figure class="post-thumbnail">
    {{ with .Resources.GetMatch .Params.image }}
    {{ $resized := .Fill "1600x900" }}
    <img src="{{ $resized.RelPermalink }}" />
    {{ end }}
  </figure>
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>
  <div class="entry-footer">
    {{ partial "post-meta" . }}
  </div>
</article>
{{ end }}