{{ define "main" }}
  <article class="post entry">
      {{ if .Params.image }}
      <figure class="post-thumbnail">
        <a class="post-thumbnail-inner" href="{{ .RelPermalink }}" aria-hidden="true">
          {{ with .Resources.GetMatch .Params.image }}
            {{ $resized := .Fill "960x640" }}
            <img src="{{ $resized.RelPermalink }}" />
          {{ end }}
        </a>
      </figure>
    {{ end }}
    {{ if (not (isset .Params "image")) }}
      <header class="entry-header">
        <h1 class="entry-title">{{ .Title }}</h1>
      </header>
    {{ end }}
    <div class="entry-content">
      {{ .Content }}
    </div>
    <div class="entry-footer">
    </div>
  </article>
{{ end }}